<section id="about" class="bg-primary text-right">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- <h2 class="section-heading">Tet.ai</h2> -->
                    <h3>At Tet.ai we believe we can use AI <i  style="color:#dd4b39" class="fa fa-lightbulb-o" aria-hidden="true"></i>,</h3>
                    <h3>not to avoid human interaction <i class="fa fa-users" style="color:#94A7BB"aria-hidden="true"></i>,</h3>
                    <h3>but to improve it <i class="fa fa-heart-o" style="color:#dd4b39" aria-hidden="true"></i>.</h3>
                </div>
            </div>
        </div>
    </section>
    