
    <section id="patient-dock" class="features">
        <div class="container">
            <div class="row">
                    <div class="col-lg-12 text-center">
                            <h2>Patient Dock</h2>
                            <p class="text-muted">Medical education software</p>
                            <hr>
                    </div>
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p>To succeed, medics need to be scientifically and socially smart. Good communication helps professionals to gather vital information and ease anxieties.</p> 
                        <p>Through dialogue and diagnosis with thousands of individual AI patients, our first product builds medical students' capabilities and confidence towards safer practices - and higher grades.</p>
                        <hr>
                    </div>    
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                    <div class="section-heading text-center">
                                        <!-- <p class="text-muted">Key Features</p> -->
                                            <!-- <h2>Smart Software <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Smart Users</h2> -->
                                            <h1></h1>
                                            <h3>Smart Software <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Smart Users<h3>
                                            <!-- <p class="text-muted">Key Features</p> -->
                                    </div>
                            </div>
                        </div>
                        <div class="row">  
                                <div class="col-md-6">
                                        <div class="feature-item">
                                            <i class="fa fa-comment-o text-primary" aria-hidden="true"></i>
                                            <h3>Cutting-Edge Tech</h3>
                                            <p class="text-muted">Meet the latest AI and natural language processing in lifelike conversations</p>
                                        </div>
                                    </div>            
                                    <div class="col-md-6">
                                            <div class="feature-item">
                                                <i class="fa fa-diamond text-primary" aria-hidden="true"></i>
                                                <h3>Gamified</h3>
                                                <p class="text-muted">Incentivized and user-friendly learning</p>
                                            </div>
                                        </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                        <div class="feature-item">
                                            <i class="icon-screen-smartphone text-primary" aria-hidden="true"></i>
                                            <h3>Mobile Ready</h3>
                                            <p class="text-muted">Take Patient Dock anywhere on mobile or desktop</p>
                                        </div>
                                    </div>    
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                                    <h3>Reports and Analysis</h3>
                                    <p class="text-muted">Track your progress and impress your organization</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="beta">
                    <div class="col-md-6">
                        <h1>Hello Individuals</h1>
                        <p>Would you like to be part of our Beta testing?</p>
                        <a href="https://mailchi.mp/d30f7e1826b6/patient-dock" class="btn btn-alt btn-xl">Sign me up!</a>
                        </div>
                        <div class="col-md-6">
                        <h1>Hello Organizations</h1>
                        <p>Could Patient Dock help your students or staff?</p>
                        <a href="https://mailchi.mp/995fe5ae55d9/patient-dock-organization" class="btn btn-alt btn-xl">Get in touch!</a>
                    </div>
                    </div>
                </div>
    </section>