<section id="patient-doc" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Patient Dock</h2>
                    <p>Our first product is Patient Dock, software to train medical students in diagnosis and patient doctor interactions.</p>
                    <p>Would you like to be part of the Beta testing?</p>
                    <a href="#patient-doc" class="btn btn-outline btn-xl page-scroll">Sign me up for Beta!</a>
                    <p>Are you an academic institution or medical organisation interested in using Patient Doc with your students or employees?</p>
                    <a href="#patient-doc" class="btn btn-outline btn-xl page-scroll">Contact us!</a>
                </div>
            </div>
        </div>
</section>
    