
    <section id="what-we-do">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">What We Do</h2>
                        <hr class="primary">
                        <p>Whether you're training to be a doctor, counsellor or work in a call centre, Tet.ai can help you do it better.</p>
                    <p>We create chatbots with 1000s of unique personalities for those who interact with people to train and practice on.</p>
                        <br />
                    </div>
                </div>
            </div>
        </section>
        