
    <section id="what-we-do" class="text-center">
            <div class="container ">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="section-heading">Meet Tet.ai</h2>
                        <hr class="primary"></h2>
                        <p>For many professionals, communication is crucial. Whether you're a counsellor or a call centre operator, our chatbots are here to prepare you for all-important conversations.</p>
                        <p>Just like your future customers and clients, tet.ai chatbots have character. Your artificially intelligent trainers have thousands of unique personalities, ready to build your skills and confidence with all types of people.</p>
                        <hr class="primary"></h2>
                    </div>
                </div>
            </div>
        </section>
        